.notes {
  display: flex;
  flex-direction: column;
  width: 322px;
  height: 2068px;
  margin-top: 20px;
  left: 258px;
  opacity: 0px;
  transition: ease-in-out 0.3s;
  border-right: 1px solid #e7e7e9;
}
.logo {
  width: 49px;
  height: 20px;
  top: 48px;
  gap: 0px;
  opacity: 0px;
  padding: 20px 0 0 20px;
}
.Card {
  width: 266px;
  height: 150px;
  gap: 0px;
  opacity: 0px;
  padding: 5px 0 0 1.5rem;
  margin-top: 1.5rem;
  margin-left: 1.5rem;
}
.Card:hover {
  background-color: #f6f6f6;

  transition: ease-in-out 0.3s;
  border-radius: 10px;
}
.bottom__container {
  display: flex;
  gap: 8rem;
}
.card__title {
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 27px;
  text-align: left;
  color: #303030;
}
.card__description {
  font-family: Inter;
  font-size: 13px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
  color: #898989;
}
.card__date {
  font-family: Inter;
  font-size: 13px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
  color: #898989;
}
.card__button {
  font-family: Inter;
  font-size: 13px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
  color: #d82700;
  cursor: pointer;
}
.notes_header {
  width: 322px;
  height: 36px;
  padding-right: 20px;
  border-top: 1px solid #e7e7e9;
  border-bottom: 1px solid #e7e7e9;
  margin-top: 20px;
}
.notes_header__title {
  font-family: Inter;
  font-size: 13px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
  margin: 8px 0 0 20px;
  color: #ec7160;
}
