.note {
  display: flex;
}

.note__content {
  width: 100%;
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
  padding: 10rem;
}

.add__button {
  width: 65px;
  height: 65px;
  border-radius: 32.5px;
  background-color: #ec7160;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 65px;
  cursor: pointer;
}

.plus__button {
  width: 65px;
  height: 65px;
  border-radius: 32.5px;
  cursor: pointer;
  margin-top: 20px;
}

.content-wrapper {
  display: flex;
  flex: 1;
  transition: all 0.3s ease-in-out;
}

.notes {
  flex: 1;
  transition: all 0.3s ease-in-out;
}

.hidden {
  display: none;
}

@media (max-width: 768px) {
  .notes {
    width: 100%;
  }

  .content-wrapper.column {
    flex-direction: column;
  }

  .note__content {
    order: 1;
    width: 100%;
    padding: 4rem;
    transition: all 0.3s ease-in-out;
  }

  .notes.hidden {
    display: none;
    transition: all 0.3s ease-in-out;
  }
}
